@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(6, 142, 253);
  color: white;
  height: 60px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 12px;
  font-family: "Roboto", sans-serif;
}

nav ul {
  list-style-type: none;
}
.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.Container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Roboto", sans-serif;
}
.box {
  border: 2px solid black;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(225, 252, 255);
  cursor: pointer;
}
.gameInfo {
  padding: 0 34px;
  font-family: "Baloo 2", sans-serif;
}
.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}
.br {
  border-right: 0;
}
.bt {
  border-top: 0;
}
.bb {
  border-bottom: 0;
}
.bl {
  border-left: 0;
}
#Reset {
  margin: 0 23px;
  padding: 6px 14px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  background: rgb(195, 255, 255);
}
.info {
  font-size: 20px;
}
